* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('zBackgroundHomepage.jpg') no-repeat center center/cover;
    color: #333;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #007bff;
}

/* Heading Section */
.heading {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

.heading .content {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.heading h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    color: rgb(32, 30, 74);
}

.heading p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
}

.get-started {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #007bff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.get-started:hover {
    background: #3898ff;
}

/* Features Section */
.features {
    padding: 20px 10px;
    text-align: center;
    margin-top: 60px;
}

.features h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f9f9f9;
}

.features-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.feature {
    background-color: white;
    border: 1px solid #ddd;
    padding: 7px;
    height: 150px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1rem;
    color: #555;
}

/* About Section */
.about {
    padding: 30px 20px;
    text-align: center;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.75);
}

.about h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

.about p {
    font-size: 1rem;
    color: #444444;
    line-height: 1.5;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #44494e;
    color: #f9f9f9;
    font-size: 0.9rem;
}